<!DOCTYPE html>
<html>

<head>
    <title>Add Member</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <h1>Add New Member</h1>
    <form action="/members/update-member/<%= member.id %>" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= member.name %>" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= member.email %>" required>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="<%= member.age %>" required>
        </div>
        <div>
            <button type="submit">Add Member</button>
        </div>
    </form>
</body>

</html>
